@import url('https://fonts.googleapis.com/css?family=Audiowide|Lekton');

body {
    background: #f8f8ff;
    background: -webkit-linear-gradient(top,#f8f8ff,#d0d0d3);
    background: -o-linear-gradient(top,#f8f8ff,#d0d0d3);
    background: -moz-linear-gradient(top,#f8f8ff,#d0d0d3);
    background: linear-gradient(to bottom, #f8f8ff, #d0d0d3);
}

header { background: url(../../images/space.jpg); }

footer { color: #fff; }

.container {
    outline: 1px solid #794798;
    background-color: #fff;
}

.hej {
    margin-top: -55px;
}

h1, h2, nav { font-family: 'Audiowide', monospace; }

p, h3, h4, h5, h6, small { font-family: 'Lekton', sans-serif; }

a { color:#794798; }

.cyberlink {
    font-size: 5em;
}

.img-thumbnail {
    width: 100%;
    height: auto;
}
.img-box {
    height: 250px;
    width: 250px;
}

button { background-color: #794798; }
.btn {
    width: fit-content;
}

.active-nav-item {
    text-decoration: overline;
    text-decoration-color: white;
}
