@import url('https://fonts.googleapis.com/css?family=Audiowide|Lekton');

h1, h2, nav { font-family: 'Audiowide', monospace;
}

p, h3, h4, h5, h6, small {
    font-family: 'Lekton', sans-serif;
}
a {
    color:#FDC02F;
}

.container {}

footer {
    color: #fff;
}

header {

}
