@import url('https://fonts.googleapis.com/css?family=Audiowide|Lekton');

h1, h2, nav { font-family: 'Audiowide', monospace; }

p, h3, h4, h5, h6, small { font-family: 'Lekton', sans-serif; }

a { color:#794798; }

.container {
    outline: 1px solid #794798;
    /* min-height: 88vh; */
}
footer {
    color: #fff;
}

button { background-color: #794798; }

header { background: url(../../images/space.jpg); }

.active-menu-item {
    text-decoration: overline;
    text-decoration-color: white;
}
