@import url('https://fonts.googleapis.com/css?family=Audiowide|Lekton');

body {
    background: #f8f8ff;
    background: -webkit-linear-gradient(top,#f8f8ff,#d0d0d3);
    background: -o-linear-gradient(top,#f8f8ff,#d0d0d3);
    background: -moz-linear-gradient(top,#f8f8ff,#d0d0d3);
    background: linear-gradient(to bottom, #f8f8ff, #d0d0d3);
}

h1, h2, nav { font-family: 'Audiowide', monospace; }
p, h3, h4, h5, h6, small { font-family: 'Lekton', sans-serif; }
h5 { font-weight: 600; }
a { color:#794798; }

header { background: url(../../images/space.jpg); }
footer { color: #fff; }

.container {
    outline: 1px solid #794798;
    background-color: #fff;
}

.likebox {
    margin-top: -4em;
    text-align: center;
}

.badge { font-size: 90%; }

.cyberlink { font-size: 5em; }

.img-thumbnail {
	display: block;
	width: 250px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;

}

.profilePic {
	width:50px;
	height:50px;
}

.btn {
    width: fit-content;
    margin: 2px 0px;
}

/* mobile */
@media (max-width: 576px){
	.cyberlink { font-size: 3em; }
	.likebox { margin-top: 0; }
	.img-thumbnail {
		width: 200px;
		height: 200px;
		/* width: 200px;
		height: 200px; */
	}
}

/* tablet */
/* @media (max-width: 768px){
	.user {
		display: flex;
		flex-wrap: wrap;
	} */
/* } */
